table {
  width: 100%;
  min-width: 600px;
  margin: 20px auto;

  th, td {
    text-align: center;

    &.mat-column-id {
      text-transform: uppercase;
    }

    border-bottom-style: none;
  }

  tr:nth-child(2n) {
    background-color: #cfd8dc;
  }

  th {
    background-color: #80deea;
  }
}
